{% extends "base.html" %}
{% load i18n staticfiles bootstrap3 %}
<!--
https://docs.djangoproject.com/en/1.8/topics/auth/default/#using-the-views
If all Django auth URL are included using url('^', include('django.contrib.auth.urls'))
login page will be looking for its template in registration/login.html
Thus global login.html template (does not belong to any particular application) has been created
-->
{% block page_title %}Participant Management System{% endblock %}
<!-- Remove login or logout link in top menu-->
{% block login_logout %}{% endblock %}
{% block extra_css %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}
{% block main_content %}

<p align="center">You will receive an email shortly</p>
{% endblock %}