{% load bootstrap3 %}

<div id="{{ name }}-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="{{ name }}-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="{{ name }}-modal-label"> {{ modal_header }} </h3>
            </div>

            <div class="modal-body">
                {{ modal_body }}
            </div>

            <div class="modal-footer">
                <div>
                    <button class="btn {{ confirmation_button_class }}" onclick="{{ function }}">
                        {% bootstrap_icon confirmation_button_icon %} Confirm
                    </button>
                    <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">
                        {% bootstrap_icon 'ban-circle' %} Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>